:root {
	--calendar-header-height: 60px;
    --case-size: 60px;
}

h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.green {
    background: #80b369 !important;
}

.orange {
    background: #f9ce67 !important;
}

.red {
    background: #da5350 !important;
    color: white;
}

.neutral {
    background: #f2f0ea;
    color: #333333;
}

.grey {
    background: rgba(0,0,0,0.25);
}

.calendar{
  width: calc(var(--case-size) * 8);
  background-color: #ffffff;
  color: #333333;
  text-align: center;
  font-size: 1.1em;
  user-select:none;
  margin-bottom: 30px;
}

.calendar .header {
    display: flex;
    height: var(--calendar-header-height);
    align-content: space-around;
    align-items: center;
}

.calendar .header .month {
    flex: 4;
    background-color: lightskyblue;
    line-height: var(--calendar-header-height);
}

.calendar .header .change-month {
    flex: 1;
    background-color: rgb(79, 179, 241);
    max-width: var(--case-size);
    line-height: var(--calendar-header-height);
    text-decoration: none;
}

.calendar .content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.calendar .content .item {
    z-index: 8;
    width: calc(var(--case-size) - 2px);
    height: var(--case-size);
    overflow: hidden;
    border: 1px solid lightslategray;
    line-height: var(--case-size);
}

.calendar .content .today  {
    border: 1px solid red;
}

.calendar .content .inactive > * {
    background-color: rgba(0,0,0,0.25);
}

.calendar .content .item .day {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    font-weight: bold;
}

.calendar .content .item .half_day {
    z-index: 0;
    position: absolute;
    top: -8vw;
    left: -8vw;
    right: -8vw;
    bottom: -8vw;
    transform: rotate(45deg);
    transform-origin: 75% -10%;
    display: flex;
    align-items: flex-start;
    border: 1px solid lightslategray;
}

.calendar .content .item .half_day + .half_day {
    z-index: 1;
    transform-origin: 25% 110%
}

.calendar .footer {
    margin: calc(var(--case-size) / 4) 0;
    height: calc(var(--case-size) / 2);
}

.calendar .footer .legend {
    display: inline-flex;
    align-items: center;
}

.calendar .footer .legend * {
    margin-right: 10px;
}

.calendar .footer .legend .box {
    float: left;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    clear: both;
  }
  

.calendar .footer .btns {
    display: inline-flex;
    align-content: space-between;
    height: 100%;
}

.calendar .footer .btns > * {
    flex: 1;
    width: calc(var(--case-size));
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 5px;
}
