form {
    
    
}

.container {
	height: 30vh;
    width: 40vw;
	background-color: rgba(0, 0, 255,0.8);
	margin-left: 30vw;
}

input {
	margin-left: 5vw;
	width: 30vw;
	height: 5vh;
	margin-top: 2vh;
}

button {
	margin-left: 17vw;
	width: 6vw;
	height: 5vh;
	margin-top: 2vh;
}

#connexion {
	text-align: center;
	font-size: 4vh;
	color: white;
}
