:root {
	--button-color: rgba(53,180,250,0.9);
}

#modif_mail {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	margin-top: 20px;
	display: none;
}
#modif_mdp {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	margin-top: 20px;
	display: none;
}

.ssmodif{
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 80vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	text-align: center;
}
.avecmodif{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 80vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
}

.one{
	grid-column: 1/3;
	grid-row: 1;
}
.two{
	grid-row: 1;
	}
.three{
	grid-column: 1/4;
	grid-row: 2;
}

#large{
	background-color: var(--button-color);
	border-radius: 1vw;
	width: 80vw;
	min-height: 25vh;
	margin-left: auto;
	margin-right: auto;
}