:root {
	--button-color: rgba(0,173,239,0.7);

}

#photo {
	position: relative;
  text-align: center;
  color: white;
}

#bande {
	
	width: 100vw;
	height: 7vw;
	object-fit: cover;
	object-position: 0 30%;

}

#contenu {
	padding: 10px;
	height: 20vh;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.haut{
	font-size: 2vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 2vw;
	
}
#line{
	
	border-bottom: solid 1px #888888;
}




.centered {
	color:white;
  	position: absolute;
  		
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-shadow: 2px 2px rgba(0,0,0,0.8);
	font-size: 3vw;
	font-family: 'Verdana';
}

#accueil_admin {
	color:rgba(0,173,239,0.7);
  	position: absolute;
  	text-align: center;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-shadow: 2px 2px rgba(0,0,0,0.8);
	font-size: 3vw;
	font-family: 'Verdana';
}