.texte_bienvenue{


	text-align: center;
	vertical-align: middle;
}



#photo {
 	
	position: absolute;
	opacity: 0.2;
	object-fit: cover;
	min-width: 100vw;
	height: calc(100vh - 180px);
	
	z-index: -1;
}