div.table-title {
	margin-top: 2%;
	margin: auto;
	max-width: 600px;
	padding:5px;
	width: 100%;
}

.table-title h3 {
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	font-style:normal;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	text-transform:uppercase;
}

th {
	color: white;
	background: var(--main-color);
	font-size:23px;
	font-weight: 100;
	padding:24px;
	text-align:left;
	vertical-align:middle;  
}

th:first-child {
	border-top-left-radius:3px;
}

th:last-child {
	border-top-right-radius:3px;
}

tr {
	color:#666B85;
	font-size:16px;
	border-top: 1px solid black;
}

tr:hover td {
	background:#A6E5FF;
	color:#FFFFFF;
}

tr:nth-child(odd) td {
	background:#EBEBEB;
}

tr:nth-child(odd):hover td {
	background:#A6E5FF;
}

tr:last-child td:first-child {
	border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
	border-bottom-right-radius:3px;
}

td {
	background:#FFFFFF;
	padding:20px;
	text-align:left;
	vertical-align:middle;
	font-weight:300;
	font-size:18px; 
}

table{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-collapse: collapse;
	border: 1px solid black;
}