:root {
	--button-color: rgb(155,200,22);

}

#photo {
	position: relative;
  text-align: center;
  color: white;
}

#bande {
	
	width: 100vw;
	height: 10vw;
	object-fit: cover;
	object-position: 0 30%;

}

#contenu {
	padding: 10px;
	height: 70vh;
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;

}

#bouttons {

	color: white;
	text-shadow: 2px 2px rgba(0,0,0,0.5);
	font-size: 2vw;
	font-family: 'Verdana';
	width: 45vw;
	display: inline-block;
	justify-content:center;
	align-items:center;
	height: 100%;
	display: grid;
	grid-template-rows: 40% 40%;
	
}

#boutton1 {
	box-shadow: 1px 2px 2px black;
	text-align: center;
	padding: 2vw;
	height: auto;
	width: auto;
	margin: auto;
	background-color: var(--button-color);
	border-radius: 2vh;

}

#boutton2 {
	box-shadow: 1px 2px 2px black;
	text-align: center;
	padding: 2vw;
	height: auto;
	width: auto;
	margin: auto;
	background-color: var(--button-color);
	border-radius: 2vh;
}

#entretients {
	box-shadow: 1px 2px 2px black;
	color: white;
	text-shadow: 2px 2px rgba(0,0,0,0.5);
	font-size: 3vw;
	font-family: 'Verdana';
	text-align: center;
	display: inline-block;
	width: 45vw;
	height: 100%;
	border-radius: 2vh;
	background-color: var(--button-color);
	margin: auto;

}

#lesentretiens {
	height: 70%;
	width: 90%;
	background-color: white;
	margin: auto;
	border-radius: 2vh;
	margin-top: 2vh;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 4px 4px rgba(0,0,0,0.8);
	font-size: 5vw;
	font-family: 'Verdana';
}