* { margin: 0px; padding:0px; position: relative; }
body {
	background-color: white;
	font-family: sans-serif, arial;
}
header {
	padding: 3vh;

	border-bottom: solid 1px #888888;
}

#logo{
	float: left;
	width: 15%;
	height: auto;
	margin-left: 15px; 
	
	margin-bottom: 15px;

}

.sep_verticale{
	float: left;
	width: 2px;
    height: 42px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    background-color: #b2b2b2;
}


@media screen and (min-width: 850px) {
  a.title_general {
    font-size: 60px;
  }
}
@media screen and (max-width: 600px) {
  a.title_general {
    font-size: 30px;
  }
}


a:link, a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #00adef;
	border: solid 1px rgba(0,173,239,0);
	transition: all 0.5s ease;
}
a:hover {
	border-bottom: solid 1px Chocolate;
}

nav li {
	list-style-type: none;
	display: inline-block;
}
nav a:link, nav a:visited{
	display: block;
	padding: 10px;h
	border: none;
}
nav a:hover  {
	border: none;
	background-color: Chocolate;
	color: white;	
}
section {
	padding: 10px;
	min-height: 300px;
}
section table {
	margin: 20px;
	border-collapse: collapse;
}
section td {
	border-bottom: solid 1px #888888;
	padding: 10px;
}
section p {
	margin: 20px;
}

footer {
	border-top: solid 1px #888888;
	padding: 10px;
	font-size: 0.8em;
}

.footer-text{
	margin-top: 4vh;
	text-align: center;
	font-size: 12px;

}





