.table-container {
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
	
	border-collapse: collapse;
	font-family: sans-serif;
	max-width: 1200px;
	position: relative;
	left: 50%;
	top: 30px;
	margin-bottom: 60px;
	transform: translate(-50%);
	font-size: 16px; /* Increase font-size */
}

.table-container h1{
	margin-bottom: 30px;
}

#addButton {
	padding: 0 10px;
	height: 42px;
	margin: 0 10px 0 0;
    overflow: hidden;
    text-decoration: none;
	line-height: 42px;
	background-color: var(--main-color);
	color: white;
	border-color: var(--main-color);
	border-radius: 5px;
	font-weight: bold;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	text-align: center;
}

#headerBox {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 30px; /* Add some space below the input */
}

#searchBox {
	background-image: url('../images/searchicon.png'); /* Add a search icon to input */
	background-position: 10px 10px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */

	flex: 1;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#table {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-collapse: collapse; /* Collapse borders */
	width: 100%; /* Full-width */
	font-size: 18px; /* Increase font-size */
}

#table th, #table td {
	text-align: left; /* Left-align text */
	padding: 12px; /* Add padding */
}

#table tr {
	/* Add a bottom border to all table rows */
	border-bottom: 1px solid #ddd;
}

#table tr.table-header {
	/* Add a grey background color to the table header and on hover */
	background-color: var(--main-color);
	color: white;
	cursor: pointer;
	user-select: none;
	border-bottom: 1px solid #dddddd; 
}

tr:nth-child(even) {
	background-color:white;
}

tr:nth-child(odd) {
	background-color:#e4e4e4;
}

#table .no-padding {
	padding: 0;
}

#table a {
	height: 44px;
	display: flex;
	align-items: center;
}

#table a img {
	height: 32px;
}

